.App {
  text-align: center;
}

.github-source {
  text-decoration: none;
  color: gray ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: 2s;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TESTING CSS (TEMP)  */
li {
  list-style-type: none;
}

input {
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
}

label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  font-size: 1.5em;
  width: 12em;
  height: 1.25em;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
}

code {
  margin-left: 0.25em;
}

.label-container,.issue-container{
  border: 0.5em solid #282c34;
}

.labelCont {
  min-height: 20em;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

.filter-title {
  background-color: #282c34;
  color: white;
  margin: 0;
  padding-left: 0.25em;
  padding-bottom: 0.3em;;
}

.App-title {
 word-wrap: none;
}

.git-icon {
  color: rgba(255, 255, 255, 0.7);
  display: inline;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.git-icon:hover {
  color: gray;
  display: inline;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
}
